/************** 
Developer: Chris Mennens/
Designer: Chris Mennens, Bootstrap
Project: Out.Spoken: Event Social Network
 **************/
 
												/************** DEFAULT RESETS **************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
	color: #000;
}

												/************** Font Embedding **************/
@font-face {
    font-family: 'across_the_starsregular';
    src: url('../fonts/ats/acrotsrg-webfont.eot');
    src: url('../fonts/ats/acrotsrg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ats/acrotsrg-webfont.woff') format('woff'),
         url('../fonts/ats/acrotsrg-webfont.ttf') format('truetype'),
         url('../fonts/ats/acrotsrg-webfont.svg#across_the_starsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Notice1';
    src: url('../fonts/notice/NoticeStd-webfont.eot');
    src: url('../fonts/notice/NoticeStd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notice/NoticeStd-webfont.woff') format('woff'),
         url('../fonts/notice/NoticeStd-webfont.ttf') format('truetype'),
         url('../fonts/notice/NoticeStd-webfont.svg#NoticeNotice') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Notice2';
    src: url('../fonts/notice/Notice2Std-webfont.eot');
    src: url('../fonts/notice/Notice2Std-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notice/Notice2Std-webfont.woff') format('woff'),
         url('../fonts/notice/Notice2Std-webfont.ttf') format('truetype'),
         url('../fonts/notice/Notice2Std-webfont.svg#NoticeNotice2') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NoticeNotice3';
    src: url('../fonts/notice/Notice3Std-webfont.eot');
    src: url('../fonts/notice/Notice3Std-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notice/Notice3Std-webfont.woff') format('woff'),
         url('../fonts/notice/Notice3Std-webfont.ttf') format('truetype'),
         url('../fonts/notice/Notice3Std-webfont.svg#NoticeNotice3') format('svg');
    font-weight: normal;
    font-style: normal;

}

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* IE < 8 */
}

												/************** Home & Generic Classes **************/
.ab{
font-family: Arial;
font-weight: bold;
}

.clear{
clear: both;
}

#wrapper{
	
	margin: 0 auto;
}
header{
	border-bottom: thick solid #F2F2F2;
	display: block;
}
#branding a{
	background: url('../images/brand.jpg') center no-repeat;
	width: 224px;
	height: 65px;
	padding-top: 35px;
	float:left;
	margin-right: 45px;
	margin-left: 25px;
	text-indent: -9999px;
}

.nav {
	width: 780px;
}

.navitem{
	float: left;
	width: 160px;
}
	
.navitem a{
	width: 145px;
	display: block;
	height: 65px;
	padding: 45px 20px 0 35px;
}
						
#nav{
	height: 100px;
	width: 730px;
}

.subdesc{
	font-size: 12px;
	color: #B7B7B7;
	font-weight: 100;
	margin-left: 1px;
}
.subdesc2{
	font-size: 12px;
	color: #B7B7B7;
	font-weight: 100;
}


#findbox{
	line-height: 9.5px;
	border-left: solid 1px #F2F2F2;
	border-right: solid 1px #F2F2F2;
}

#find{
	font-size: 25px;
	color: #A90641;
	width: 105px;
	margin-bottom: 0;
}

#find:hover{
	background-color: #A90641;
	color: #fff;
	border-right: thick solid #910614;
}
#find:hover subdesc{
	color: #fff;
}

#createbox {
	border-right: solid 1px #F2F2F2;
	line-height: 9.5px;
	width: 150px;
}

#create{
	font-size: 25px;
	color: #A90641;
	width:95px;
	overflow: hidden;
}

#create:hover{
	border-right: thick solid #910614;
	background-color: #A90641;
	color: #fff;
}

#signin {
	height: 65px;
	color: #A90641;
	font-size: 25px;
	padding-top: 35px;
	padding: 35px 20px 0 35px;
	width: 105px;
	border: none;
	clear: right;
	margin-right:0;
	padding-right:0;
}

.cta{
	background: url('../images/ctarepeat.jpg') left repeat-x;
	position: relative;
	height: 441px;
	margin-left: 255px;
	
}

.ctaleft,
.ctaright{
	position:absolute;
	height: 441px;	
	
}

.ctaleft{
	background: url('../images/ctaleft.jpg') left no-repeat;
	width: 255px;
	left: 0;
	margin-left: -255px;
	z-index: 1;
}

.ctaright{
	background: url('../images/ctaright.jpg') right no-repeat;
	width: 433px;
	right: 0;
}

.ctahead{
	margin-top: 75px;
	margin-left: -255px;
	position: absolute;
	left: 15%;
	z-index: 2;
	font-family: 'Arial Black';
	color: #333333;
	font-size: 60px;
	text-transform: uppercase;
	font-weight: bold;
	width: 375px;
	line-height: 65px;
}
.ctahead .ats{
	font-family: 'across_the_starsregular';
	font-weight:normal;
	font-size: 92px;
	margin-left: 25px;
	padding-top: 40px;
	letter-spacing: 4px;
	
}
.symone{
	 font-family: 'Notice1'; 
	 position: absolute;
	 margin-top: 275px;
	 font-size: 120px;
	 /*left:20%;*/
	 z-index: 2;
	 color: #A90641;
	 margin-left: -15px
}

.symtwo{
	font-family: 'Notice2'; 
	z-index: 2;
	position: absolute;
	color: #A90641; 
	margin-top: 275px;
	margin-left: 330px;
	/*left:48%;*/
	font-size: 120px;
}
.symthr{
	font-family: 'Notice1'; 
	 position: absolute;
	 z-index: 2;
	 margin-top: 275px;
	 margin-left: 655px;
	 color: #A90641; 
	/*left:55%;*/
	 font-size: 120px;
}

.ctasub{
	position: absolute;
	margin-top: 380px;
	z-index: 2;
	color: #333333;
	font-size: 25px;
	font-weight: normal;
	margin-left: -255px;
	left:200px;
	font-family: Helvetica,Arial;
}
.subsec{
	margin-left:140px;
	
}
.subthi{
	margin-left:135px;
}
.content{
	border-top: thin solid #b8b8b8;
	margin-bottom:20px;
}


.eventhead{
	background-color: #888888;
}
.topevents{
	width: 100%;
	height: 315px
	width: 100%;
	background-color: #888888;
}

.eventitem{
	width: 308px;
	margin-left: 25px;
	float: left;
	color: #fff;
}

.eventimg{
	width: 277px;
	height: 244px;
	background: url('../images/eventimg.jpg') top no-repeat;
}

/*
.eventdate{
	 float: left;
	 width: 256px;
	 color: white; 
	 font: bold 24px/45px Arial, Sans-Serif; 
	 letter-spacing: -1px;  
	 background: rgb(0, 0, 0);
	 background: rgba(0, 0, 0, 0.5);
	 padding: 10px; 
	 font-size: .9em;
	 margin-top: -110px;
 }
*/
 
.eventname{
/* 	width:300px; */
/* 	display: block; */
	color: #fff;
}

.eventname:hover{
	color: #A90641;
}

#footer{
	font-family: Arial;
	color: #fff;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: thin solid #fff;
	text-align: center;
	background-color: #A90641;
}

												/************** Signin and Register **************/

#regbox{
	float: left;
	width: 475px;
}
#signinbox{
	float: left;
	width: 475px;
}											
#regform{
	margin-top: 10px;
	
}
#regform .reglabel{
	float: left;
	width: 150px;
	margin-left: 10px;
	color: #A90641;
	font-size: 15px;
}
#regform input{
	float: left;
	margin-left: 25px;
	width: 225px;
	
}
.space{
	margin-top:15px;
}
#regform .regimg{
	float: left;
	margin-left: 25px;
	width: 300px;
}
#regform .regbio{
	width: 230px;
	margin-left: 25px;
}
#regform .regbtn{
	margin-left: 340px;
	width: 80px;
}
.siform .silabel{
	float: left;
	width: 150px;
	margin-left: 10px;
	color: #A90641;
	font-size: 15px;
}
.siform input{
	float: left;
	margin-left: 25px;
	width: 225px;
}
.siform .sisubmit{
	width: 80px;
	margin-left: 340px;
}

												/************** ----Find Form---- **************/												
.searchbox{
	height: 125px;
	width: 100%;
	background-color: #A90641;
}

#usersearch{
	width: 300px;
	height: 40px;
	margin-left: 35%;
	margin-top: 40px;
	font-size: 1.3em;
}

/************** Result wrapper **************/
.resultitem{
	height: 100px;
	border-bottom: thin solid #000;
	font-family: Arial,Helvetica,sans-serif;
}

/************** Result content **************/
.rdate{
	margin-left: 15px;
	width:75px;
	float: left;
	margin-top: 45px;
}

.rtime{
	float: left;
	width:75px;
	margin-top: 45px;
}

.rimage{
	width:90px;
	height:90px;
	background-color: #000;
	float: left;
	margin-top: 5px;
	
}

.ruser{
	margin-left: 15px;
	margin-top: 10px;
	width: 125px;
	float: left;
}

.revent{

}

.rattend{

}

.event_img {
	float: left;
	width: 100px;
	height:100px;
	background:#ccc;
}

.eventdate {
	float:left;
}

.clear {
	clear:both;
}
.eventdate_wrapper {
	float: left;
    height: 62px;
    width: 202px;
    height: 100px;
    background: #333;
}