/************** 
Developer: Chris Mennens/
Designer: Chris Mennens, Bootstrap
Project: Out.Spoken: Event Social Network
 **************/
 
												/************** DEFAULT RESETS **************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}


/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
	color: #000;
}

												/************** Font Embedding **************/
@font-face {
    font-family: 'across_the_starsregular';
    src: url('../fonts/ats/acrotsrg-webfont.eot');
    src: url('../fonts/ats/acrotsrg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ats/acrotsrg-webfont.woff') format('woff'),
         url('../fonts/ats/acrotsrg-webfont.ttf') format('truetype'),
         url('../fonts/ats/acrotsrg-webfont.svg#across_the_starsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'PacificoRegular';
    src: url('../fonts/pacifico/Pacifico-webfont.eot');
    src: url('../fonts/pacifico/Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pacifico/Pacifico-webfont.woff') format('woff'),
         url('../fonts/pacifico/Pacifico-webfont.ttf') format('truetype'),
         url('../fonts/pacifico/Pacifico-webfont.svg#PacificoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.pacific{
	 font-family: 'PacificoRegular';
}
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* IE < 8 */
}

												/************** Home & Generic Classes **************/
.ab{
font-family: Arial;
font-weight: bolder;
}

.clear{
clear: both;
}

.shadow{
	-webkit-box-shadow:  5px 2px 8px 1px ;
        
        
}

#wrapper{
	
	margin: 0 auto;
}
header{
	border-bottom: thick solid #F2F2F2;
	display: block;
}
#branding a{
	background: url('../images/brand.jpg') center no-repeat;
	width: 224px;
	height: 65px;
	padding-top: 35px;
	float:left;
	margin-right: 45px;
	margin-left: 25px;
	text-indent: -9999px;
}

.nav {
	width: 909px;
}

.navitem{
	float: left;
	width: 160px;
}
	
.navitem a{
	width: 145px;
	display: block;
	height: 65px;
	padding: 45px 20px 0 35px;
}
						
#nav{
	height: 100px;
	width: 850px;
}

.subdesc{
	font-size: 12px;
	color: #B7B7B7;
	font-weight: 100;
	margin-left: 1px;
}
.subdesc2{
	font-size: 12px;
	color: #B7B7B7;
	font-weight: 100;
}


#findbox{
	line-height: 9.5px;
	border-left: solid 1px #F2F2F2;
	border-right: solid 1px #F2F2F2;
}

#find{
	font-size: 25px;
	color: #A90641;
	width: 105px;
	margin-bottom: 0;
}

#find:hover{
	background-color: #A90641;
	color: #fff;
	border-right: thick solid #910614;
}
#find:hover subdesc{
	color: #fff;
}

#createbox {
	border-right: solid 1px #F2F2F2;
	line-height: 9.5px;
	width: 150px;
}

#create{
	font-size: 25px;
	color: #A90641;
	width:95px;
	overflow: hidden;
}

#create:hover{
	border-right: thick solid #910614;
	background-color: #A90641;
	color: #fff;
}
#profilebox{
	border-right: solid 1px #F2F2F2;
	line-height: 9.5px;
}
#profileview{
	line-height: 0.5;
	height: 65px;
	color: #A90641;
	font-size: 25px;
	width: 124px;
	border: none;
	margin-right:0;
	padding-right:0;
	float: left;
	text-align: center;
	text-indent: -41px;
}
#profileview:hover{
	border-right: thick solid #910614;
	background-color: #A90641;
	color: #fff;
}


#signin {
	height: 65px;
	color: #A90641;
	font-size: 25px;
	padding-top: 35px;
	padding: 35px 20px 0 35px;
	width: 105px;
	border: none;
	clear: right;
	margin-right:0;
	padding-right:0;
}
#signout{
	height: 65px;
	color: #A90641;
	font-size: 25px;
	padding-top: 35px;
	padding: 35px 20px 0 35px;
	width: 105px;
	border: none;
	margin-right:0;
	padding-right:0;
	float: left;
}
.cta{
	background: url('../images/ctarepeat.jpg') left repeat-x;
	position: relative;
	height: 441px;
	margin-left: 255px;
	
}

.ctaleft,
.ctaright{
	position:absolute;
	height: 441px;	
	
}

.ctaleft{
	background: url('../images/ctaleft.jpg') left no-repeat;
	width: 255px;
	left: 0;
	margin-left: -255px;
	z-index: 1;
}

.ctaright{
	background: url('../images/ctaright.jpg') right no-repeat;
	width: 433px;
	right: 0;
}

.ctahead{
	margin-top: 75px;
	margin-left: -255px;
	position: absolute;
	left: 15%;
	z-index: 2;
	font-family: 'Arial Black';
	color: #333333;
	font-size: 60px;
	text-transform: uppercase;
	font-weight: bold;
	width: 375px;
	line-height: 65px;
}

.ctahead .ats{
	font-family: 'across_the_starsregular';
	font-weight:normal;
	font-size: 92px;
	margin-left: 25px;
	padding-top: 40px;
	letter-spacing: 4px;
	
}



.signupcta span{
	margin-right: 20px;
	font-weight: bold;
}
.btnp{
	float: left;
	margin-top: 70px;
}
.ctabtn{
	letter-spacing: .1em;
	margin-top: 60px;
	margin-left: 10px;
    display: inline-block;
    padding: 5px 6px 10px 6px;
    color: #fff;
    background-color: #A90641;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    
    line-height: 1.2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 4px 2px 7px 1px  #999;
   	-webkit-box-shadow:  4px 2px 7px 1px ;
        box-shadow:  4px 2px 7px 1px ;
    text-shadow: 0 -1px 1px #222;
    border-bottom: 1px solid #222;
    position: relative;
    text-align: center;
    cursor: pointer;
    width: 260px;
    box-shadow:  5px 2px 8px 1px ;
}

.ctasub{
	position: absolute;
	margin-top: 265px;
	z-index: 2;
	color: #333333;
	font-size: 25px;
	font-weight: normal;
	margin-left: -255px;
	left:200px;
	font-family: Helvetica,Arial;
}

h2 {
	font-size: 23px;
	font-weight: normal;
	color:#333;
	font-family: Helvetica,Arial;
}

.subsec{
/* 	margin-left:140px; */
	margin-left: 198px;
	
}
.subthi{
	margin-left:135px;
}
.content{
	border-top: thin solid #b8b8b8;
/* 	margin-bottom:20px; */
}


.eventhead{
	background-color: #888888;
}
.topevents{
	width: 100%;
	height: 315px
	background-color: #888888;
	padding-bottom: 20px;
}

.eventitem{
/* 	height: 375px; */
	width: 275px;
	margin-left: 25px;
	float: left;
	color: #fff;
	margin-top:22px;
}

.eventimg{
	width: 275px;
	height: 375px;
	background: url('../images/eventimg.jpg') top no-repeat;
}

.eventdate, .ersvp, .eventdesc{
	font-size: .6em;
}
.eventdate p{
	color:#fff;
}

eventdate_wrapper p{
	margin-left: 15px;
}

#footer{
	font-family: Arial;
	color: #fff;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: thin solid #fff;
	text-align: center;
	background-color: #A90641;
}

		
		
												/************** Signin and Register **************/
.susi{
	width: 100%;
	
}
#regbox {
	margin-right: 50px;
}

#signinbox, #regbox{
	float: left;
	width: 407px;
}
#signinbox{
	height: 150px;
	background-color:#f0f0f0;
}										
#regform{
	margin-top: 10px;
	
}
#regform .reglabel{
	float: left;
	width: 150px;
/* 	margin-left: 10px; */
	color: #A90641;
	font-size: 15px;
}
#susi{
	width:100%;
	height: 130px;
	background-color: #f0f0f0;
}
#regform input{
	float: left;
	margin-left: 25px;
	width: 225px;
	
}
.space{
	margin-top:15px;
}
/*
#regform .regimg{
	float: left;
	margin-left: 25px;
	width: 300px;
}
*/
#regform .regbio{
	width: 230px;
	margin-left: 25px;
}

.siform .silabel{
	float: left;
	width: 150px;
/* 	margin-left: 10px; */
	color: #A90641;
	font-size: 15px;
}
.siform input{
	float: left;
	margin-left: 25px;
	width: 225px;
}

.submit-btn {
	background: #A90641;
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	height: 30px;
	cursor: pointer;
}

.siform .sisubmit, #regform .regbtn{
	width: 80px;
	float:right;
}

												/************** ----Find Form---- **************/												
.searchbox{
	height: 125px;
	width: 100%;
	background-color: #A90641;
}

#usersearch{
	width: 300px;
	height: 40px;
	margin-left: 35%;
	margin-top: 40px;
	font-size: 1.3em;
}

/************** Result wrapper **************/
.resultitem{
	height: 100px;
	border-bottom: thin solid #000;
	font-family: Arial,Helvetica,sans-serif;
	padding: 10px 10px 10px 0;
}

/************** Result content **************/
.rdate{
	margin-left: 15px;
	width:75px;
	float: left;
	margin-top: 45px;
}

.rtime{
	float: left;
	width:75px;
	margin-top: 45px;
}

.rimage{
	width:90px;
	height:90px;
	background-color: #000;
	float: left;
	margin-top: 5px;
	
}

.ruser{
	margin-left: 15px;
	margin-top: 10px;
	width: 125px;
	float: left;
}

.eventname {
	color: #333;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 7px;
}

.event_img {
	float: left;
	width: 275px;
	height:275px;
	background:#ccc;
}

.eventdate {
	float:left;
}

.ersvp, .eventdate {
	float: left;
}

.eventdate {
	float: right;
}

.eventdesc {
	margin-bottom: 25px;
}

.clear {
	clear:both;
}
.eventdate_wrapper {
	float: left;
    width: 243px;
    background: #fff;
    border:1px solid #ccc;
    padding: 15px 15px 5px;
    color: #000;
    border-radius: 0 0 5px 5px;
    line-height: 1.3em;
    font-family: Helvetica;
    
    background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

    
}

.register_page {
	padding: 24px;
}

#createform {
	padding: 24px;
	width: 407px;
}

.reglabel, .silabel {
	color: #A90641;
    float: left;
    font-size: 15px;
    width: 150px;
}
proleftcol
.reginput, .siinput {
	float: left;
    margin-left: 25px;
    width: 225px;
}

.proleftcol.event {
	width: 400px;
}

.proleftcol.event h2 {
	text-align: left;
}

.ui-widget-header {
	background: #A90641 !important;
}

.regsubmit {
	float:right;
}

.profileview {
	margin-top:30px;
	margin-bottom:30px;
}

.proleftcol, .promidcol, .prorightcol  {
	float:left;
	margin-right: 20px;
}

.proleftcol {
	margin-left: 30px;
	width: 200px;
}

.promidcol {
	width: 500px;
}

.prorightcol {
	width: 380px;
	margin-right:0;
}

.profile_header {
	text-align:center;
	text-transform: uppercase;
	margin-bottom: 15px;
	font-weight: bold;
}

.imgarea {
	margin-bottom: 20px;
}

.noevents {
	text-align: center;
}

.procomments {
	margin-top: 30px;
}

.galimg {
	float:left;
	margin-right: 10px;
	margin-top: 10px;
}

.attend {
	background-color: #2C5BB2;
    border-bottom: 1px solid #222222;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 2px 8px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 1.2;
	margin-top:10px;
    padding: 5px 6px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #222222;
    font-family: 'PacificoRegular';
}

.unattend {
	background-color: #D81B17;
    border-bottom: 1px solid #222222;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 2px 8px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 1.2;
    margin-top: 10px;
    padding: 5px 6px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #222222;
    font-family: 'PacificoRegular';
}

.eventdate_bottom {
	bo
}